<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<div th:fragment="content">
    <div class="admin-panel">
        <h1>Admin Panel</h1>
        <div class="status-bar">
            Messages are automatically updated every 5 seconds
        </div>
        <div id="messages-container" class="messages-container">
            <div class="loading-spinner"></div>
        </div>
    </div>
<script>
    function fetchMessages() {
        fetch('/admin/messages')
            .then(response => response.json())
            .then(messages => {
                // Üzenetek megjelenítése a div elemben
                let messagesContainer = document.getElementById('messages-container');
                messagesContainer.innerHTML = "";  // Töröljük a régi tartalmat
                messages.reverse().forEach(message => {
                    messagesContainer.innerHTML += `<p><strong>${message.userName }</strong>: ${message.message} <em>(${new Date(message.date).toLocaleString()})</em></p>`;
                });
            })
            .catch(error => console.error("Error fetching messages:", error));
    }

    setInterval(fetchMessages, 5000);
    fetchMessages();
</script>
</div>
