<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Alapértelmezett cím</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/register.css" />
    <link rel="icon" type="image/x-icon" href="/images/logo.svg">
</head>
<body>
<header>
    <nav th:insert="~{menu}">
    </nav>
</header>
<!--section class="heroimage">
    <img src="/images/hero.png" alt="Hero image"/>
</section-->

<main>
    <div th:replace="~{${contentTemplate} :: content}"></div>
    <!--div th:replace="~{${contentTemplate}}"></div-->
</main>

<footer>
    <p>&copy; 2024 CC CAMELLUM Travelling Agency. All rights reserved to LÉKÓ SZABOLCS, KISJUHÁSZ VILMOS.</p>
</footer>
</body>
</html>